<!DOCTYPE html>

<html dir="rtl" lang="fa">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["title"] - Coffee Shop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" asp-append-version="true" href="~/css/CoffeeShop/site.css" />
    @await RenderSectionAsync("css", required:false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid navbar-bg">
                <a class="navbar-brand navbar-bg" asp-area="" asp-controller="CoffeeShop" asp-action="Index">کافی‌شاپ نمونه</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link navbar-bg" asp-area="" asp-controller="CoffeeShop" asp-action="Products">محصولات</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-bg" asp-area="" asp-controller="CoffeeShop" asp-action="Contact">تماس با ما</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-bg" asp-area="" asp-controller="CoffeeShop" asp-action="Privacy">حریم خصوصی</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    @await RenderSectionAsync("scripts", required: false)
</body>
</html>
