@{
    ViewData["Title"] = "علیرضا تیموری";
}

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
<div class="main-container">
    <div class="left-container">
        <h1 class="shadow-glow">علیرضا تیموری</h1>
            <p>
                دانشجوی مهندسی کامپیوتر | علاقه مند به برنامه نویسی، لینوکس، قهوه
            </p>
            <p>
                یه جوون 25 ساله علاقه مند به تکنولوی هستم که این روزها روی یادگیری بیشتر ASP.NET Core برای کارآموزی تمرکز میکنم.<br />
                در اوقات فراغتم روی پروژههای گیتهاب فعالیت میکنم و گاهی شطرنج بازی میکنم
                <img alt="chess logo" style="width:15px;" src="~/images/chess-logo.png" />
            </p>
    </div>
        <hr />
    <div class="right-container">
        <div class="skills" dir="ltr">
            <h2 class="shadow-glow">- Skills -</h2>
            <h3>• Languages & Frameworks</h3>
                <p>C#</p>
                <p>ASP.NET Core</p>
                <p>Python</p>
                <p>Git</p>
            <h3>• Databases</h3>
                <p>Microsoft SQL Server</p>
                <p>PostgreSQL</p>
            <h3>• Tools</h3>
                <p>Linux</p>
                <p>Netwrok+</p>
        </div>
        <hr />
        <div class="education">
            <h2 class="shadow-glow">- تحصیلات -</h2>
            <h3>• کارشناسی مهندسی کامپیوتر</h3>
            <p>
                دانشگاه آزاد واحد پردیس
                <br />
                <span class="education-date">1403 - اکنون</span>
            </p>
        </div>
            <hr />
        <div class="projects">
            <h2 class="shadow-glow">- پروژه ها -</h2>
        </div>
            <hr />
    </div>
</div>