@{
    ViewData["Title"] = "Home Page";
}

<div class="intro">
    <h1>علیرضا تیموری</h1>
    <p>دانشجوی مهندسی کامپیوتر. در حال حاضر در حال یادگیری و توسعه ASP.NET Core و به دنبال کارآموزی در این حوزه برای back-end هستم.</p>
    <p>مسلط به GIt, Python, c# و آشنا با دیتابیس های PostgreSQL, Microsoft SQL Server هستم</p>
</div>
