@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

<div class="intro">
    <h1 >علیرضا تیموری</h1>
    <p>
        دانشجوی مهندسی کامپیوتر | علاقه مند به برنامه نویسی، لینوکس، قهوه
    </p>
</div>
<div class="skills">

</div>
<div class="projects">

</div>
<div class="education">

</div>