.main-div {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}
.inside-div {
    width: 700px;
    margin: 0px auto 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.links {
    color: white;
}
.links:hover {
    color: #0ff;
    text-decoration: none;
}