.main-div {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}
.inside-div {
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.links {
    color: rgba(45,255,196,0.9);
}