.intro {
    margin-top: 50px;
}
.shadow-glow {
    color: #0ff;
    text-shadow: 0 0 10px #0ff;
}
hr {
    border: none;
    height: 1px;
    width: 80%;
    background: linear-gradient(to right, rgba(0, 255, 255, 0) 0%, rgba(0, 255, 255, 1) 50%, rgba(0, 255, 255, 0) 100%);
    box-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff; /* Multiple shadows for a glowing effect */
    margin: 20px 0;
    margin-right: auto;
    margin-left: auto;
}
.skills p {
    margin-bottom: -1px;
    margin-left: 50px
}
.education-date {
    color: grey;
    font-size: 20px;
}
.project-images {
    width: 80%;
}