* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/*    font-family: consolas;*/
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: black;
    color: white;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1d061a;
    font-family: "Noto Sans Arabic";
}
/* navbar in _layout */
.navbar {
    justify-content: center;
}
