* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/*    font-family: consolas;*/
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    color: white;
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(16,24,40);
/*    background: #1d061a;*/
    font-family: "Noto Sans Arabic";
}
/* navbar */
.navbar {
    justify-content: center;
}
#glow-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    pointer-events: none;
    z-index: 9999;
    box-shadow: 0px 0px 126px 35px rgba(45,255,196,0.9);
}
