* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/*    font-family: consolas;*/
}

::selection {
    background-color: white;
    color: black;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    color: white;
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(16,24,40);
    font-family: "Noto Sans Arabic";
}
.navbar {
    justify-content: center;
}
.navbar a:hover {
    text-shadow: 0 0 10px #0ff;
}