@model MyPortfolio.Models.Entities.Coffee;

@{
    ViewData["Title"] = "Create";
    Layout = "_LayoutCoffeeShop";
}

<h1>Create</h1>

<form asp-action="Create" asp-controller="CoffeeShop" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Price</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Category</label>
        <select asp-for="Type" class="form-control">
            <option>Hot</option>
            <option>Iced</option>
        </select>
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Image</label>
        <input type="file" name="imageFile" class="form-control" />
    </div>

    <button type="submit">Save</button>
</form>
