@model MyPortfolio.Models.Entities.Coffee;

@{
    ViewData["Title"] = "Create";
    Layout = "_LayoutCoffeeShop";
}

@section heroSection {
    <h1>ایجاد محصول جدید</h1>
}

<form asp-action="Create" asp-controller="CoffeeShop" method="post" enctype="multipart/form-data" class="p-4 border rounded shadow">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label" asp-for="Name"></label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control w-50" placeholder="نام محصول را وارد کنید" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label" asp-for="Price"></label>
        <div class="col-sm-10">
            <input asp-for="Price" class="form-control w-50" placeholder="قیمت را به تومان وارد کنید" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label" asp-for="Type"></label>
        <div class="col-sm-10">
            <select asp-for="Type" class="form-select w-50">
                <option disabled selected>نوع قهوه را انتخاب کنید</option>
                <option value="0">گرم</option>
                <option value="1">سرد</option>
            </select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label" >عکس محصول</label>
        <div class="col-sm-10">
            <input type="file" name="imageFile" class="form-control w-50" />
            <span asp-validation-for="ImagePath" class="text-danger"></span>
        </div>
    </div>

    <div class="text-center">
        <button class="btn btn-primary mb-3" type="submit">ذخیره</button>
    </div>
</form>