
@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutCoffeeShop";
}

@section css{
    <link rel="stylesheet" asp-append-version="true" href="~/css/CoffeeShop/home.css" />
}

<div class="main-div">
    <div class="text-center">
        <img class="logo-img" alt="front page logo" title="Coffee Shop logo" src="~/images/CofeeShop/coffee-logo.png" />
    </div>
</div>