@model IEnumerable<MyPortfolio.Models.Entities.Coffee>

@{
    ViewData["Title"] = "Products";
    Layout = "_LayoutCoffeeShop";
}

@section HeroSection {
    <h2 class="text-center" style="margin-top:10px;">محصولات</h2>

}

<!-- main content -->
<div class="container">
    <span style="margin:25px;"></span>
    @if (Model == null || !Model.Any())
    {
        <p>هیچ کالایی یافت نشد.</p>
    }
    else
    {
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    <partial name="Partials/_CoffeeProductPartial" model="@item" />
                </div>
                @if ((Model.ToList().IndexOf(item) + 1) % 4 == 0)
                {
                    <div class="row"></div>
                }
            }
        </div>
    }
</div>

<hr />
<div class="hero-text">
    <h4>ایجاد کالای جدید</h4>
    <p>
        به علت نمونه بودن این سایت برای رزومه، ساخت کالای جدید بلامانع است.
    </p>
    <a class="btn btn-primary" asp-action="Create" asp-controller="CoffeeShop">ساخت کالای جدید</a>
</div>