
@{
    ViewData["Title"] = "Products";
    Layout = "_LayoutCoffeeShop";
}

@section HeroSection {
    <div class="hero-text">
        <h1>ایجاد کالای جدید</h1>
        <p>
            به علت نمونه بودن این سایت برای پروژه، ساخت کالای جدید بلامانع است.
        </p>
    </div>
}

<!-- main content -->

