@model IEnumerable<MyPortfolio.Models.Entities.Coffee>

@{
    ViewData["Title"] = "Products";
    Layout = "_LayoutCoffeeShop";
}

@section HeroSection {
    <div class="hero-text">
        <h1>ایجاد کالای جدید</h1>
        <p>
            به علت نمونه بودن این سایت برای پروژه، ساخت کالای جدید بلامانع است.
        </p>
        <a class="btn btn-primary" asp-action="Create" asp-controller="CoffeeShop">ساخت کالای جدید</a>
    </div>
}

<!-- main content -->
<div class="container">
    <h2>Products</h2>

    @if (Model == null || !Model.Any())
    {
        <p>هیچ کالایی یافت نشد.</p>
    }
    else
    {
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <tbody>
                    @foreach (var item in Model)
                    {
                        <partial name="Partials/_CoffeeProductPartial" model="@item" />
                    }
                </tbody>
            </table>
        </div>
    }
</div>

