@using MyPortfolio.Models.Entities
@model MyPortfolio.Models.Entities.Coffee;

<div class="card" style="min-width: 18rem;">
    <div class="product-image">
        <img src="@Model.ImagePath" class="card-img-top" style="object-fit: contain">
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Price تومان</p>
        @if (Model.Type == Category.Hot)
        {
            <span class="card-text">نوع قهوه: گرم</span>
        }
        else 
        {
            <span class="card-text">نوع قهوه: سرد</span>
        }
        <br />
        <br />
        <a asp-action="Details" asp-controller="CoffeeShop" asp-route-id="@Model.Id" class="btn btn-primary">مدیریت محصول</a>
    </div>
</div>