@model MyPortfolio.Models.Entities.Coffee;

<div class="card" style="width: 18rem;">
    <img src="@Model.ImagePath" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Price تومان</p>
        <a asp-action="Details" asp-controller="CoffeeShop" asp-route-id="@Model.Id" class="btn btn-primary">مدیریت محصول</a>
    </div>
</div>